<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
 -->
 
<link rel="stylesheet" href="css/bootstrap.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script type="text/javascript">

</script>
<body>
    <form action="/boardWrite">
    작성자: <input type="text" name="wname"><br>
   <label for="pwd">비밀번호:</label><input type="text" name="passwd"><br>
    제목: <input type="text" name="subject"><br>
     <label for="content">내용</label><textarea name="content" row="3"></textarea>

 	 <br>
 	 
 	 <input type="submit" value="작성">
    
    </form>
</body>
</html>